In [1]:
## Import Neccessary Libraries

In [42]:
### If missing any library, please uncomment the repective line below and pip install
#!pip install tensorflow
#!pip install h5py
#!pip install numpy --upgrade

## Taken from https://pypi.org/project/pygeohash/
## Using this instead of the python-geohash by hiwi due to better documentation

#!pip install pygeohash                     
!pip install pandas --upgrade

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/d0/4e/9db3468e504ac9aeadb37eb32bcf0a74d063d24ad1471104bd8a7ba20c97/pandas-0.24.2-cp36-cp36m-win_amd64.whl
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in c:\users\coddy\anaconda3\lib\site-packages (from pandas) (2.6.1)
Requirement already satisfied, skipping upgrade: numpy>=1.12.0 in c:\users\coddy\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied, skipping upgrade: pytz>=2011k in c:\users\coddy\anaconda3\lib\site-packages (from pandas) (2017.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\coddy\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.20.3
    Uninstalling pandas-0.20.3:
      Successfully uninstalled pandas-0.20.3

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\coddy\\anaconda3\\lib\\site-packages\\~andas\\io\\msgpack\\_packer.cp36-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [3]:
import numpy as np
import pandas as pd
import h5py
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.python.framework import ops
import pygeohash as pgh
from tqdm._tqdm_notebook import tqdm_notebook
from sklearn.model_selection import train_test_split
import random
import math
tqdm_notebook.pandas()
%matplotlib inline

C:\Users\Coddy\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [4]:
df = pd.read_csv("training.csv")

In [5]:
print(df.shape)   # 4,206,321 entries
print(df.describe())
df.head()

(4206321, 4)
                day        demand
count  4.206321e+06  4.206321e+06
mean   3.145299e+01  1.050907e-01
std    1.768278e+01  1.592655e-01
min    1.000000e+00  3.092217e-09
25%    1.600000e+01  1.867379e-02
50%    3.200000e+01  5.043463e-02
75%    4.700000e+01  1.208644e-01
max    6.100000e+01  1.000000e+00

  geohash6  day timestamp    demand
0   qp03wc   18      20:0  0.020072
1   qp03pn   10     14:30  0.024721
2   qp09sw    9      6:15  0.102821
3   qp0991   32       5:0  0.088755
4   qp090q   15       4:0  0.074468

In [6]:
def string_to_time (string):
    x = string.split(":")
    timing = int(x[0]) * 60 + int(x[1])
    return timing/15

df['time_stamp'] = df['timestamp'].progress_apply(string_to_time)
df['time_stamp'] = df['time_stamp'] + (df['day'] - 1)*96
df.head()

A Jupyter Widget

  geohash6  day timestamp    demand  time_stamp
0   qp03wc   18      20:0  0.020072      1712.0
1   qp03pn   10     14:30  0.024721       922.0
2   qp09sw    9      6:15  0.102821       793.0
3   qp0991   32       5:0  0.088755      2996.0
4   qp090q   15       4:0  0.074468      1360.0

In [7]:
df.describe()

                day        demand    time_stamp
count  4.206321e+06  4.206321e+06  4.206321e+06
mean   3.145299e+01  1.050907e-01  2.964249e+03
std    1.768278e+01  1.592655e-01  1.697748e+03
min    1.000000e+00  3.092217e-09  0.000000e+00
25%    1.600000e+01  1.867379e-02  1.477000e+03
50%    3.200000e+01  5.043463e-02  3.010000e+03
75%    4.700000e+01  1.208644e-01  4.428000e+03
max    6.100000e+01  1.000000e+00  5.855000e+03

In [8]:
de = df.groupby(['geohash6']).count()
hash_list = de.index.values
print(len(hash_list))
hash_list

1329

array(['qp02yc', 'qp02yf', 'qp02yu', ..., 'qp0dnh', 'qp0dnj', 'qp0dnn'],
      dtype=object)

In [9]:
df = pd.pivot_table(df, values='demand', index=['time_stamp'],columns=['geohash6'])

In [10]:
df = df.fillna(0)
df.head()

geohash6,qp02yc,qp02yf,qp02yu,qp02yv,qp02yy,qp02yz,qp02z1,qp02z3,qp02z4,qp02z5,...,qp0djv,qp0djw,qp0djy,qp0dn0,qp0dn1,qp0dn4,qp0dn5,qp0dnh,qp0dnj,qp0dnn
time_stamp,,,,,,,,,,,,,,,,,,,,,
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0006,...,0.0,0.0,0.004056,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.009381,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,...,0.0,0.0,0.008253,0.0,0.0,0.0,0.0,0.0,0.002701,0.0

In [11]:
df["qp02yc"].values

array([0., 0., 0., ..., 0., 0., 0.])

In [92]:
def resampling(df,limit,seed):
    X = pd.DataFrame({"index":list(np.core.defchararray.add("T-",np.arange(1248,0,-1).astype("str")))+\
                           ["T","lat","lon"]})
    Y = pd.DataFrame({"index":["T+1","T+2","T+3","T+4","T+5"]})
    
    hash_list = df.T.index.values

    random.seed(seed)
    sample = random.sample(range(0, len(hash_list)), 30)
    k=0
    for geohash in tqdm_notebook(hash_list[sample]):
        for i in range(1248,df.shape[0]-5):
            if df[geohash].values[i] > 0:
                k+=1
                X[str(k)] = list(df[geohash].values[i-1248:i+1])+[pgh.decode(geohash)[0],pgh.decode(geohash)[1]]
                Y[str(k)] = list(df[geohash].values[i+1:i+6])
                if k > limit:
                    #print(k)
                    break
                #dfinal = dfinal.append(list(df["qp02yc"].values[i-1258:i])+["qp02yc"])
        #dfinal = pd.concat([dfinal,pd.DataFrame(np.array(list1).T)])
    X=np.array(X.T.drop(['index'])).astype("float")
    Y=np.array(Y.T.drop(['index'])).astype("float")
    
    return X,Y

In [93]:
def test_sampling(df):
    X = pd.DataFrame({"index":list(np.core.defchararray.add("T-",np.arange(1248,0,-1).astype("str")))+\
                           ["T","lat","lon"]})
    Y = pd.DataFrame({"index":["T+1","T+2","T+3","T+4","T+5"]})
    
    hash_list = df.T.index.values
    
    k=0
    for geohash in tqdm_notebook(hash_list):
        for i in range(1248,df.shape[0]-5):
            if df[geohash].values[i] > 0:
                try:
                    k+=1
                    #print(list(df[geohash].values[i-1248:i+1])+[pgh.decode(geohash)[0],pgh.decode(geohash)[1]])
                    X[str(k)] = list(df[geohash].values[i-1248:i+1])+[pgh.decode(geohash)[0],pgh.decode(geohash)[1]]
                    Y[str(k)] = list(df[geohash].values[i+1:i+6])
                except:
                    k+=1
                    print(df[geohash].values[i])
                    print(list(df[geohash].values[i-1248:i+6])+[geohash])
                #dfinal = dfinal.append(list(df["qp02yc"].values[i-1258:i])+["qp02yc"])
        #dfinal = pd.concat([dfinal,pd.DataFrame(np.array(list1).T)])
    X=np.array(X.T.drop(['index'])).astype("float")
    Y=np.array(Y.T.drop(['index'])).astype("float")
    
    return X,Y

In [108]:
train,dev = train_test_split(df.T, test_size=0.001, random_state=42)

In [266]:
train_X_0, train_Y_0 = resampling(train.T,10000,99)

A Jupyter Widget

10001
10002
10003
10004
10005
10006
10007
10008
10009
10010
10011
10012
10013
10014
10015
10016
10017
10018
10019
10020
10021
10022
10023
10024

In [110]:
(train_X_0.shape,train_Y_0.shape)

((10028, 1251), (10028, 5))

In [111]:
test_X,test_Y = test_sampling(dev.T)

A Jupyter Widget

In [112]:
(test_X.shape,test_Y.shape)

((6598, 1251), (6598, 5))

In [101]:
def create_placeholders(n_x,n_y):

    X = tf.placeholder(tf.float32, [None,n_x], name="X")
    Y = tf.placeholder(tf.float32, [None,n_y], name="Y")
    
    return X, Y

In [102]:
X, Y = create_placeholders(120, 5)
print("X = " + str(X))
print("Y = " + str(Y))

X = Tensor("X_2:0", shape=(?, 120), dtype=float32)
Y = Tensor("Y_2:0", shape=(?, 5), dtype=float32)

In [221]:
def initialize_parameters(n_x,n_y,m):
           
    W1 = tf.get_variable("W1", [n_x, 250], initializer = tf.contrib.layers.xavier_initializer(seed=1))
    b1 = tf.get_variable("b1", [1],initializer = tf.zeros_initializer())
    W2 = tf.get_variable("W2", [250, 50], initializer = tf.contrib.layers.xavier_initializer(seed=1))
    b2 = tf.get_variable("b2", [1], initializer = tf.zeros_initializer())
    W3 = tf.get_variable("W3", [50, n_y], initializer = tf.contrib.layers.xavier_initializer(seed=1))
    b3 = tf.get_variable("b3", [1], initializer = tf.zeros_initializer())
   
    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2": b2,
                  "W3": W3,
                  "b3": b3}
    
    return parameters

In [222]:
tf.reset_default_graph()
with tf.Session() as sess:
    parameters = initialize_parameters(100,20,2000)
    print("W1 = " + str(parameters["W1"]))
    print("b1 = " + str(parameters["b1"]))
    print("W2 = " + str(parameters["W2"]))
    print("b2 = " + str(parameters["b2"]))

W1 = <tf.Variable 'W1:0' shape=(100, 250) dtype=float32_ref>
b1 = <tf.Variable 'b1:0' shape=(1,) dtype=float32_ref>
W2 = <tf.Variable 'W2:0' shape=(250, 50) dtype=float32_ref>
b2 = <tf.Variable 'b2:0' shape=(1,) dtype=float32_ref>

In [223]:
def forward_propagation(X, parameters):

    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    W3 = parameters['W3']
    b3 = parameters['b3']
    
    #print(X)
    Z1 = tf.add(tf.matmul(X,W1), b1)                      # Z1 = np.dot(W1, X) + b1
    A1 = tf.nn.relu(Z1)                                    # A1 = relu(Z1)
    Z2 = tf.add(tf.matmul(A1,W2), b2)                     # Z2 = np.dot(W2, a1) + b2
    A2 = tf.nn.relu(Z2)                                    # A2 = relu(Z2)
    Z3 = tf.add(tf.matmul(A2,W3), b3)                     # Z3 = np.dot(W3,Z2) + b3

    #print(Z1)
    #print(A1)
    #print(Z2)
    #print(A2)
    return Z3

In [224]:
tf.reset_default_graph()

with tf.Session() as sess:
    X, Y = create_placeholders(1251, 5)
    parameters = initialize_parameters(1251,5,10000)
    Z3 = forward_propagation(X, parameters)
    print("Z3 = " + str(Z3))

Tensor("X:0", shape=(?, 1251), dtype=float32)
Tensor("Add:0", shape=(?, 250), dtype=float32)
Tensor("Relu:0", shape=(?, 250), dtype=float32)
Tensor("Add_1:0", shape=(?, 50), dtype=float32)
Tensor("Relu_1:0", shape=(?, 50), dtype=float32)
Z3 = Tensor("Add_2:0", shape=(?, 5), dtype=float32)

In [225]:
def compute_cost(Z3, Y):

    print(Z3,Y)
    cost = tf.reduce_mean(tf.losses.mean_squared_error(predictions=Z3, labels=Y))
    
    return cost

In [226]:
tf.reset_default_graph()

with tf.Session() as sess:
    X, Y = create_placeholders(1251, 5)
    parameters = initialize_parameters(1251,5,10000)
    Z3 = forward_propagation(X, parameters)
    cost = compute_cost(Z3, Y)
    print("cost = " + str(cost))

Tensor("X:0", shape=(?, 1251), dtype=float32)
Tensor("Add:0", shape=(?, 250), dtype=float32)
Tensor("Relu:0", shape=(?, 250), dtype=float32)
Tensor("Add_1:0", shape=(?, 50), dtype=float32)
Tensor("Relu_1:0", shape=(?, 50), dtype=float32)
Tensor("Add_2:0", shape=(?, 5), dtype=float32) Tensor("Y:0", shape=(?, 5), dtype=float32)
cost = Tensor("Mean:0", shape=(), dtype=float32)

In [227]:
def random_mini_batches(X, Y, mini_batch_size = 64, seed = 0):
    """
    Creates a list of random minibatches from (X, Y)
    
    Arguments:
    X -- input data, of shape (input size, number of examples)
    Y -- true "label" vector (containing 0 if cat, 1 if non-cat), of shape (1, number of examples)
    mini_batch_size - size of the mini-batches, integer
    seed -- this is only for the purpose of grading, so that you're "random minibatches are the same as ours.
    
    Returns:
    mini_batches -- list of synchronous (mini_batch_X, mini_batch_Y)
    """
    
    m = X.shape[0]                  # number of training examples
    mini_batches = []
    np.random.seed(seed)
    
    # Step 1: Shuffle (X, Y)
    permutation = list(np.random.permutation(m))
    shuffled_X = X[ permutation,:]
    shuffled_Y = Y[permutation,:].reshape(m,(Y.shape[1]))

    # Step 2: Partition (shuffled_X, shuffled_Y). Minus the end case.
    num_complete_minibatches = math.floor(m/mini_batch_size) # number of mini batches of size mini_batch_size in your partitionning
    for k in range(0, num_complete_minibatches):
        mini_batch_X = shuffled_X[k * mini_batch_size : k * mini_batch_size + mini_batch_size,:]
        mini_batch_Y = shuffled_Y[ k * mini_batch_size : k * mini_batch_size + mini_batch_size,:]
        mini_batch = (mini_batch_X, mini_batch_Y)
        mini_batches.append(mini_batch)
    
    # Handling the end case (last mini-batch < mini_batch_size)
    if m % mini_batch_size != 0:
        mini_batch_X = shuffled_X[ num_complete_minibatches * mini_batch_size : m,:]
        mini_batch_Y = shuffled_Y[ num_complete_minibatches * mini_batch_size : m,:]
        mini_batch = (mini_batch_X, mini_batch_Y)
        mini_batches.append(mini_batch)
    
    return mini_batches

In [276]:
def model(train,test_X,test_Y, learning_rate = 0.0001,
          num_epochs = 30, batch_size = 32, print_cost = True):
    
    ops.reset_default_graph()
    
    r = 1
    tf.set_random_seed(r)
    seed = 1
    
    train_X, train_Y = resampling(train.T,10000,seed)
    
    (m,n_x) = train_X.shape                          # (n_x: input size, m : number of examples in the train set)
    n_y = train_Y.shape[1]                            # n_y : output size
    costs = []                                        # To keep track of the cost
    
    X, Y = create_placeholders(n_x, n_y)

    parameters = initialize_parameters(n_x,n_y,m)
    
    Z3 = forward_propagation(X, parameters)
   
    cost = compute_cost(Z3, Y)
   
    optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)
    
    init = tf.global_variables_initializer()

    #print(train_X_0.shape,train_Y_0.shape)
    with tf.Session() as sess:

        sess.run(init)
        
        loop = 20
        for i in range(loop):
            
            for epoch in tqdm_notebook(range(num_epochs)):

                epoch_cost = 0.                       # Defines a cost related to an epoch
                num_minibatches = int(m / batch_size)

                seed = seed + 1
                minibatches = random_mini_batches(train_X_0,train_Y_0, batch_size, seed)

                for minibatch in minibatches:

                    # Select a minibatch
                    (minibatch_X, minibatch_Y) = minibatch

                    _ , minibatch_cost = sess.run([optimizer, cost], feed_dict={X: minibatch_X, Y: minibatch_Y})

                    epoch_cost += minibatch_cost / num_minibatches


                # Print the cost every epoch

                if print_cost == True and epoch % 10 == 0:
                    print ("Cost after epoch %i: %f" % (epoch, epoch_cost))
                if print_cost == True and epoch % 5 == 0:
                    costs.append(epoch_cost)
            if i < loop-1:        
                train_X, train_Y = resampling(train.T,10000,seed)

        plt.plot(np.squeeze(costs))
        plt.ylabel('cost')
        plt.xlabel('iterations (per tens)')
        plt.title("Learning rate =" + str(learning_rate))
        plt.show()

        # lets save the parameters in a variable
        parameters = sess.run(parameters)
        print("Parameters have been trained!")

        # Calculate RMSE on the test set
        rmse = tf.reduce_mean(tf.losses.mean_squared_error(predictions=Z3, labels=Y))

        print("Train Accuracy:", rmse.eval({X: train_X_0,Y: train_Y_0}))
        print("Test Accuracy:", rmse.eval({X:test_X, Y: test_Y}))
        
        return parameters

In [ ]:
parameters = model(train,test_X,test_Y)

A Jupyter Widget

10001
10002
10003
10004
10005
10006
10007
10008
10009
10010
10011
10012
10013
10014
10015
10016
10017
10018
10019
10020
10021
10022
10023
10024
10025
10026
Tensor("X:0", shape=(?, 1251), dtype=float32)
Tensor("Add:0", shape=(?, 250), dtype=float32)
Tensor("Relu:0", shape=(?, 250), dtype=float32)
Tensor("Add_1:0", shape=(?, 50), dtype=float32)
Tensor("Relu_1:0", shape=(?, 50), dtype=float32)
Tensor("Add_2:0", shape=(?, 5), dtype=float32) Tensor("Y:0", shape=(?, 5), dtype=float32)

A Jupyter Widget

Cost after epoch 0: 0.364371
Cost after epoch 10: 0.001004
Cost after epoch 20: 0.000786

A Jupyter Widget

10001
10002
10003
10004
10005
10006
10007
10008
10009
10010
10011
10012
10013
10014
10015
10016
10017
10018
10019
10020
10021
10022
10023
10024
10025
10026
10027

A Jupyter Widget

Cost after epoch 0: 0.000676
Cost after epoch 10: 0.000628
Cost after epoch 20: 0.000570

A Jupyter Widget

In [271]:
test_Y

array([[0.05643584, 0.03275199, 0.05946815, 0.05000833, 0.03813594],
       [0.03275199, 0.05946815, 0.05000833, 0.03813594, 0.027705  ],
       [0.05946815, 0.05000833, 0.03813594, 0.027705  , 0.01964146],
       ...,
       [0.05627672, 0.04201676, 0.01747728, 0.0392065 , 0.08091495],
       [0.04201676, 0.01747728, 0.0392065 , 0.08091495, 0.08627456],
       [0.01747728, 0.0392065 , 0.08091495, 0.08627456, 0.06505359]])

In [272]:
def predict(X, parameters):
    
    W1 = tf.convert_to_tensor(parameters["W1"])
    b1 = tf.convert_to_tensor(parameters["b1"])
    W2 = tf.convert_to_tensor(parameters["W2"])
    b2 = tf.convert_to_tensor(parameters["b2"])
    W3 = tf.convert_to_tensor(parameters["W3"])
    b3 = tf.convert_to_tensor(parameters["b3"])
    
    params = {"W1": W1,
              "b1": b1,
              "W2": W2,
              "b2": b2,
              "W3": W3,
              "b3": b3}
    try:
        x = tf.placeholder("float", [X.shape[0],X.shape[1]])
    except:
        x = tf.placeholder("float", [1,X.shape[0]])
    z3 = forward_propagation_for_predict(x, params)
    p = tf.argmax(z3)
    
    sess = tf.Session()
    prediction = sess.run(p, feed_dict = {x: X})
        
    return prediction

def forward_propagation_for_predict(X, parameters):
    """
    Implements the forward propagation for the model: LINEAR -> RELU -> LINEAR -> RELU -> LINEAR -> SOFTMAX
    
    Arguments:
    X -- input dataset placeholder, of shape (input size, number of examples)
    parameters -- python dictionary containing your parameters "W1", "b1", "W2", "b2", "W3", "b3"
                  the shapes are given in initialize_parameters

    Returns:
    Z3 -- the output of the last LINEAR unit
    """
    
    # Retrieve the parameters from the dictionary "parameters" 
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    W3 = parameters['W3']
    b3 = parameters['b3'] 
                                                           # Numpy Equivalents:
    Z1 = tf.add(tf.matmul(X,W1), b1)                      # Z1 = np.dot(W1, X) + b1
    A1 = tf.nn.relu(Z1)                                    # A1 = relu(Z1)
    Z2 = tf.add(tf.matmul(A1,W2), b2)                     # Z2 = np.dot(W2, a1) + b2
    A2 = tf.nn.relu(Z2)                                    # A2 = relu(Z2)
    Z3 = tf.add(tf.matmul(A2,W3), b3)                     # Z3 = np.dot(W3,Z2) + b3
    
    return Z3

In [273]:
my_prediction = predict(np.array([test_X[0,:]]), parameters)
my_prediction

array([0, 0, 0, 0, 0], dtype=int64)

In [274]:
np.array([test_X[0,:]])

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         7.23004155e-03, -5.30000000e+00,  9.09000000e+01]])

In [275]:
test_Y[0,:]

array([0.05643584, 0.03275199, 0.05946815, 0.05000833, 0.03813594])